<section id="project-section">
    <div class="container marketing">

        <h1 class="text-center text-uppercase">Al onze projecten</h1>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Renovatie van hellende daken volgens sarkingprincipe.</h2>
                <p class="lead text-justify">
                    Bij een sarking opbouw worden PIR of PUR isolatieplaten bovenop de draagstructuur geplaatst. Het grote voordeel hiervan is dat het dak doorlopend geïsoleerd is zonder koude bruggen.
                    <br />Ook is er geen ruimteverlies aan de binnenkant en de huidige binnen afwerking kan behouden worden.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-rounded" src="@Url.Content("~/Images/projects/project-1.jpg")" alt="Project dakbekleding">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-rounded" src="@Url.Content("~/Images/projects/project-2.jpg")" alt="Project padouk">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Opbouw en uitvoering van de dakdetails.<br /><span class="text-muted">Zie voor uzelf.</span></h2>
                <p class="lead text-justify">
                    Naar de afwerking toe opteren wij voor een harde houtsoort zoals Padouk.
                    De keuze tussen hang- en bakgoten wordt voornamelijk door esthetische redenen bepaald.<br />
                    Een dak dat over de muren steekt, is ook gunstig om de slagregenbelasting op de gevelmuren te beperken.
                </p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Na-isoleren en bekleden van gevels.<br /><span class="text-muted">Nog twijfels?</span></h2>
                <p class="lead text-justify">
                    De buitengevel isoleren is besparend en doet uw gevel er terug nieuw uitzien.
                    Om uw huis een persoonlijke uitstraling te geven kan u kiezen tussen diverse houtsoorten die geschikt zijn voor buiten.<br />
                    De gevel kan in verschillende materialen worden afgewerkt waaronder Quartz-zinc of Anthra-zinc (staande naad), leien, sidings, Padouk, Ceder, enz.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-rounded" src="@Url.Content("~/Images/projects/project-3.jpg")" alt="Project gevelbekleding">
            </div>
        </div>
    </div><!-- /.container -->
</section>

@section scripts
{
    <script type="text/javascript">
        $('li.nav-work').addClass("active");
    </script>
}
