<h2 class="text-center text-uppercase">Hoe kan u ons contacteren?</h2>
<div class="contact-info">
    <div class="row">
        <div class="col-sm-12">
            <div class="contact-icon text-center"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></div>
            <p class="text-center">+32 499 27 81 26</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="contact-icon text-center"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></div>
            <p class="text-center">
                Grotestraat 49<br />
                8420 De Haan
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="contact-icon text-center"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
            <p class="text-center">info@dakwerken-radino.be</p>
        </div>
    </div>
</div>