<section id="who-we-are-small">
    <div class="container">
        <h1 class="text-uppercase text-center">Leer ons kennen</h1>
        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">Dakwerken Radino. <span class="text-muted">Uw partner in termen van dakwerken.</span></h2>
                <p class="lead text-justify">
                    Dakwerken Radino is een bloeiend dakdekkersbedrijf uit De Haan met diverse specialiteiten.
                    Dat wij zorgvuldig te werk gaan en onze opdrachtgevers en klanten tevreden houden, is een van onze belangrijkste doelstellingen.
                    Dakwerken Radino staat bekend voor kwaliteit en betrouwbaarheid, en wil deze reputatie verder verzekeren voor de toekomst.
                </p>
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="//www.youtube.com/embed/tntOCGkgt98" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>