@Html.Action("WhoWeAre")

<section id="work-categories">
    <div class="container">
        <h1 class="text-center text-uppercase">Wat doen we nu precies?</h1>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h2 class="panel-title text-center text-uppercase">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Velux dakvensters
                        </a>
                    </h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p class="text-justify">
                            Dakvensters brengen 2 x zoveel daglicht binnen als verticale standvensters.
                            De glasoppervlakte van de dakvensters moet minimaal 12% van de bewoonbare vloeroppervlakte van de kamer bedragen om voldoende licht te voorzien.
                            Gebrek aan daglicht kan slaapstoornissen, stress, vermoeidheid en zelfs depressie veroorzaken.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h2 class="panel-title text-center text-uppercase">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Hellende daken
                        </a>
                    </h2>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p class="text-justify">
                            Een goede keuze maken van dakbedekkingsmateriaal voor uw woning is cruciaal.
                            Voor u enkele tips die u van dienst kunnen zijn bij het kiezen van uw dak:
                        </p>
                        <h4 class="text-center">Houd rekening met de stijl van uw woning of project </h4>
                        <p class="text-justify">
                            Of u uiteindelijk voor tegelpannen, vlakke pannen, stormpannen of holle pannen kiest, heeft voornamelijk te maken met het uitzicht, de stijl en het budget van uw woning.
                            Voor bepaalde woningstijlen zijn tegel- of leipannen interessanter, terwijl andere stijlen beter worden gecombineerd met bijvoorbeeld holle, gegolfde of vlakke pannen.
                            Een dak met tegelpannen oogt net als een leien dak en vooral als men dan nog opteert voor de leikleur van de tegelpan.
                        </p>
                        <h4 class="text-center">Houd rekening met stedenbouwkundige voorschriften</h4>
                        <p class="text-justify">
                            Deze voorschriften kunnen de keuzevrijheid beperken en omschrijven nauwkeurig welke dakvormen, hellingsgraad, dakbedekkingsmaterialen en dakbedekkingskleuren toegelaten zijn.
                            Het is goed om te weten dat afwijkingen kunnen worden aangevraagd.
                        </p>
                        <h4 class="text-center">Houd rekening met de grootte van het dak</h4>
                        <p class="text-justify">
                            Onder druk van de stijgende plaatsingskosten is er een evolutie naar het gebruik van steeds grotere dakpannen die sneller geplaatst kunnen worden en waarbij er een gevoelige besparing op het plaatsingsloon en de panlatten kan gerealiseerd worden.
                        </p>
                        <h4 class="text-center">Houd rekening met de helling van uw dak</h4>
                        <p class="text-justify">
                            Houd bij de keuze van de dakpannen rekening met de minimum dakhelling opgegeven door de firma.
                            Bij daken met een kleine dakhelling opteert u best voor pannen met sluitingen.
                            Sluitingen dienen om te voorkomen dat het neervallende en afstromende regenwater het dak binnendringt.
                            Voor daken met een lage helling opteert u best voor pannen met dubbel- of drievoudige sluitingen waarvan de minimale dakhelling 10 graden dient te bedragen.
                        </p>
                        <h4 class="text-center">Houd rekening met een boomrijke omgeving</h4>
                        <p class="text-justify">
                            In boomrijke zones (zeker als die aan de noordelijke kant van de woning liggen) kiest u best voor pannen met een volledige oppervlaktebehandeling, zoals ge&#235;ngobeerde of geglazuurde pannen.
                            De gladde en glasharde afwerking van de glazuurlaag bemoeilijkt het vastzetten van mos en algen op de pan en biedt zo een bescherming tegen schimmelgroei.
                        </p>
                        <h4 class="text-center">Houd rekening met de kleur van de gevel, ramen en deuren</h4>
                        <p class="text-justify">
                            Bij het kiezen van de kleur van de dakpannen houdt u best rekening met de totale esthetiek van de woning.
                            Het dak, ook vijfde gevel genoemd, mag niet los gezien worden van de rest van het gebouw.
                            De kleur van het dak kan in contrast of in perfecte harmonie zijn met de kleur van gevel, ramen en deuren.
                            Het kiezen van een identieke kleur voor de dakpannen, als voor ramen, deuren, garagepoort tot zelfs regenwaterafleiders, kan een stijlvol effect hebben.
                        </p>
                        <h4 class="text-center">Vraag naar de garantie</h4>
                        <p class="text-justify">De producten waar Dakwerken Radino mee werkt hebben een garantie op vorstbestandheid van 30 jaar. Deze kwaliteit zekerheid bovenop de 10 jaar garantie geven u de nodige zekerheid voor een uitzonderlijk ruime tijd.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h2 class="panel-title text-center text-uppercase">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            EPDM
                        </a>
                    </h2>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <p class="text-justify">
                            Resitrix&reg; SK W bestaat uit een toplaag in gewapend EPDM rubber en een zelfklevende SBS-onderlaag. Resitrix&reg; is een wortelvaste waterdichting en hierdoor ook geschikt voor toepassing in groendaken.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h2 class="panel-title text-center text-uppercase">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Zink en koper
                        </a>
                    </h2>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <h4 class="text-center">Bladzink</h4>
                        <p class="text-justify">
                            Bladzink zal onder de invloed van weersomstandigheden patineren. Dit natuurlijke proces verloopt over een periode van één tot vier jaar. De unieke charme van de patinalaag ontstaat door de vorming van een oxidehuid. Deze oxidehuid is een natuurlijke beschermlaag.
                        </p>

                        <h4 class="text-center">Gepatineerd zink</h4>
                        <p class="text-justify">
                            Bij gepatineerd zink is het natuurlijke proces van patineren al doorgevoerd in industriële omstandigheden. U heeft de keuze uit alle soorten gepatineerd zink op de markt.
                            Quartz-zinc: geprepatineerd grijs ribfluweel, dankzij zijn uitgesproken structuur en warmte geeft quartz zinc persoonlijkheid en uitstraling aan uw project. Ook bij renovatie wordt quartz-zinc vooral als afwerking en afdichting gebruikt.
                            Anthra-zinc: het anthraciet grijs geprepatineerd zink. Anthra-zinc heeft zijn naam door zijn anthracite tint die nauw aansluit bij de kleur van leien en is langs beide zijden voorzien van een dunne organische coating die een extra bescherming geeft tegen corrosie.
                            Pigmento geproduceerd op basis van quartz-zinc waaraan een hars met minerale pigmenten is toegevoegd, deze is beschikbaar in 6 tinten: witsteen, hemelsblauw, kopergroen, donkerbruin, leigrijs en macao bruin.
                        </p>

                        <h4 class="text-center">Koper</h4>
                        <p class="text-justify">Koper neemt in een waterige oplossing een karakteristieke blauwe kleur aan. Onder invloed van de atmosfeer krijgt koper een groenige oxidelaag.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h2 class="panel-title text-center text-uppercase">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Gevelbekleding
                        </a>
                    </h2>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        -	gevelbekleding in hout
                        Steevast voorzien wij uw gevel van isolatie, latstructuur en de afwerking naar uw keuze.
                        Het vaakst worden ceder, padouk, thermisch essen en afrormosia gebruikt.
                        Padouk is een vormvaste, onderhoudsvriendelijke houtsoort die gekend staat om zijn bewonderingswaardige verkleuring. Vers geschaafd heeft padouk een koraalrode kleur, deze zal echter snel vervagen naar een bruin kleur om vervolgens na langere periode zilvergrijs te worden.
                        Western Red Cedar kent talloze kleurvariaties: van licht geelbruin, over rozebruin en zalmkleur tot chocoladebruin. Het kernhout is donkerder dan het bijna witte spinthout. De spintzone is niet breder dan 2 à 3 cm.
                        Lichte en donkere banen wisselen elkaar af en geven een gevarieerde tekening. De kleurverschillen nemen af onder invloed van het licht.
                        Het kernhout is duurzaam (natuurlijke duurzaamheidsklasse II).
                        -	gevelbekleding in leien

                        Leien in Halfsteensverband
                        De vierhoekige leien worden horizontaal in plaats van vertikaal geplaatst. De traditionele leihaken zijn onzichtbaar doordat elke lei vernageld is op het latwerk.

                        Leien in Dubbele dekking
                        De meest bekende en de meest veelzijdige methode voor zowel dak als gevel. Deze textuur laat alle kleuren en formaten toe. De leien worden bevestigd door middel van een leihaak, wat voor deze bekleding grote robuustheid en stormvastheid verzekert.

                        Ruitdekking Klassiek dambord
                        Een economische gevelbekleding die een andere textuur aan een moderne gevel kan geven. De ruitdekking is vooral bekend voor de bekleding van grote wachtgevels.

                        Leien in Open Voeg
                        De “open voeg” dekking is een methode om gevels te bekleden met kleinformatige elementen uit vezelcement. Deze methode ontleent zijn naam aan het feit dat er zich tussen twee naast elkaar gelegen leien steeds een voeg bevindt met een breedte ongeveer gelijk aan één derde van een leibreedte.

                        Leien in Enkelvoudige Horizontale Dekking
                        De enkelvoudige horizontale dekking is een dekmethode die geschikt is voor daken en gevels. Deze methode maakt gebruik van rechthoekige leien die bevestigd worden op horizontale houten panlatten. De leien worden met hun langste zijde quasi evenwijdig met de panlatten geplaatst. De regendichtheid wordt bekomen door de horizontale en vertikale overlapping van de leien onderling, waardoor een schubpatroon verkregen wordt.

                        Leien in Enkelvoudige Horizontale Dekking in Lijn
                        De leien worden ofwel op een klassieke horizontaal latwerk of op een enkelvoudige verticale draagstructuur bevestigd. De enkelvoudigde horizontale dekking in lijn is een plaatsingssysteem voor gevels met vezelcementleien van klein formaat. Bij dit systeem gebruikt men rechthoekige leien waarvan een boven- en onderhoek worden afgesneden. De leien worden bevestigd op een horizontaal latwerk en met hun langse zijde evenwijdig met de panlatten. De regendichtheid wordt verzekerd door de horizontale en verticale overlappen.

                        Leien in Dubbele Dekking Cassettesysteem
                        Een plaatsingssysteem voor gevel met rechthoekige vezelcementleien die worden bevestigd op een verticaal latwerk in een recht verband.
                        De dubbele dekking volgens het cassettesysteem is een plaatsingssysteem voor gevel met vezelcementleien met rechthoekige formaten. De leien worden bevestigd op een verticaal latwerk in een recht verband. Tussen de verticale rijen van de lijen wordt een voeg gelaten waarachter een waterdichting wordt geplaatst teneinde het de regendichtheid van het systeem te verzekeren.

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h2 class="panel-title text-center text-uppercase">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Isoleren: hoe rapper, hoe beter
                        </a>
                    </h2>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        •	U bespaart tot 75% energie
                        •	U vertrouwt op een levenslange duurzaamheid
                        •	U geniet van een hoog rendement
                        •	U ervaart puur wooncomfort, zowel in de zomer als de winter
                        Tegen 2020 moeten alle daken geïsoleerd zijn van woningen en huurwoningen die vóór 1 januari 2006 aangesloten zijn op het elektriciteitsnet.
                        De nieuwe Vlaamse dakisolatienorm treedt al in werking op 1 januari 2015 voor alle zelfstandige woningen.
                        Vanaf 1 januari 2015 zal men bij een woningonderzoek strafpunten toekennen als de woning niet aan de dakisolatienorm voldoet. Tussen 2015 en 2020 krijgt de woning daarvoor een beperkt aantal strafpunten.
                        Denk erom dat het dak maar eenmaal gerenoveerd wordt. Het is daarom niet onbelangrijk om voor een dikke isolatie te opteren, zodat de dakisolatie niet achterhaald zal zijn na enkele jaren. De dikte van de isolatielaag heeft bovendien amper invloed op de werkkosten of uurlonen.
                        Vraag nu een vrijblijvende offerte en bekijk uw voordelen.

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEight">
                    <h2 class="panel-title text-center text-uppercase">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Subsidie
                        </a>
                    </h2>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                        <p class="text-justify">
                            Voor inkomstenjaar 2014 (= aanslagjaar 2015) komt 30% van de uitgaven in aanmerking voor belastingvermindering met een max van 3040 euro per jaar per woning.
                            De woning moet al minstens 5- jaar in gebruik zijn bij de start van de werken. De werken moeten uitgevoerd worden door een aannemer. R-waarde minstens 2,5 m&#178; k/W.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('li.nav-about').addClass("active");
    </script>
}