<?xml version="1.0"?>

<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-DakwerkenRadino-20141123054617.mdf;Initial Catalog=aspnet-DakwerkenRadino-20141123054617;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="AzureSQLConnection" connectionString="Server=tcp:agk8brm2oq.database.windows.net,1433;Database=DakwerkenRadino;User ID=ssingh@agk8brm2oq;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>