<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <root>
    <level xdt:Transform="SetAttributes" value="INFO" />
  </root>
  <appender name="LogFileAppender" xdt:Locator="Match(name)">
    <param name="File" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" value="E:\HostingSpaces\Singh\dakwerken-radino.be\data\logs\log.txt" />
  </appender>
</log4net>