<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<rules xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <rule name="Canonical Host Name" xdt:Locator="Match(name)" xdt:Transform="RemoveAttributes(enabled)">
    <conditions>
      <add xdt:Transform="SetAttributes" pattern="^dakwerken-radino\.be" />
    </conditions>
    <action xdt:Transform="SetAttributes" url="http://www.dakwerken-radino.be/{R:1}" />
  </rule>
</rules>