<?xml version="1.0"?>
<rules>
  <rule name="Convert to lower case" stopProcessing="true">
    <match url=".*[A-Z].*" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll">
      <add input="{REQUEST_URI}" negate="true" pattern="^/contact/send-mail$" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/Scripts" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/Content" ignoreCase="true" />
      <add input="{REQUEST_URI}" negate="true" pattern="^/Glimpse\.axd" ignoreCase="true" />
    </conditions>
    <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
  </rule>
  <rule name="Redirect old portfolio page" stopProcessing="true">
    <match url="portfolio$" />
    <action type="Redirect" url="ons-werk" redirectType="Permanent"/>
  </rule>
  <rule name="Remove trailing slash" stopProcessing="true">
    <match url="(.*)/$" />
    <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
  </rule>
</rules>