<?xml version="1.0"?>
<rules>
  <rule name="Convert to lower case" stopProcessing="true">
    <match url=".*[A-Z].*" ignoreCase="false" />
    <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
  </rule>
  <rule name="Remove trailing slash" stopProcessing="true">
    <match url="(.*)/$" />
    <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
  </rule>
  <rule name="Canonical Host Name" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTP_HOST}" negate="true" pattern="^dakwerken-radino\.singhularity\.be$" />
    </conditions>
    <action type="Redirect" url="http://www.dakwerken-radino.singhularity.be/{R:1}" redirectType="Permanent" />
  </rule>
</rules>